<h1 class="display-4 mb-4">
    Add thing
</h1>
<form action="/add" method="POST">
    <div class="form-group">
        <input type="text"  name = "thing" class="form-control form-control-lg" placeholder="Add somthing you love">

    </div>
    <input type="submit" value="Add" class="btn btn-dark btn-lg">
    <a href="/" class="btn btn-danger btn-lg">Cancel</a>
</form>
